<?xml version="1.0" encoding="utf-16"?>
<LauncherData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppId>1fXidmFP1_k0LtdhNCBKzP7_JStdNYdhc</AppId>
  <Storage>Google</Storage>
  <Version>1.0.0.0</Version>
  <ExecName>ModLauncher.exe</ExecName>
</LauncherData>