<?xml version="1.0" encoding="utf-16"?>
<LauncherData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppId>1Tx9lr5LT11PJ5vwLkqQ0eB4bO4lChh0V</AppId>
  <Storage>Google</Storage>
  <Version>3.0.0.0</Version>
  <ExecName>7D2DUpdater.exe</ExecName>
</LauncherData>