player-connection-mode=Listen
player-connection-guid=254057074
player-connection-debug=1
player-connection-project-name=ModLauncher
player-connection-ip=10.0.0.36
player-connection-ip=192.168.183.1
player-connection-ip=192.168.112.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
single-instance=
