<Configuration>
  <ClientSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <AppId>1zRQyt9vxKJFFEErKgOYIo24sNsRNLc0Y</AppId>
    <Exec>ModLauncher.exe</Exec>
    <Check>true</Check>
    <OfflineMode>true</OfflineMode>
    <Language_Key />
  </ClientSettings>
  <StorageSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <StorageName>Google</StorageName>
  </StorageSettings>
</Configuration>